
@import "./reset";

$mainColor: #229FFC;
$mainTitleColor: #354052;
$subTitleColor: #9B9B9B;
$originOne: #FFA042;

$lineColor: #e6e6e6;

$paleGrey: #F9FAFC;//rgb(244, 245, 247);
$paleGreyTwo: rgb(253, 253, 253);
$black: rgb(41, 44, 64);

$warmRed: #F66161;
$warmgrey: rgb(163, 166, 178);

$sideBarWidth: 210px;
$navBarHeight: 60px;




 //全局样式
.main-container{
  padding: 0px 1px;
  background-color: #F9FAFC;
}
.app-container {
  padding: 0px 1px;
  background-color: #F9FAFC;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

body {
  background: $paleGrey;
  margin: 0;
  padding: 0;
}

// 一行，多余显示....
.nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.canwrap {
  word-wrap: break-word;
  word-break: normal;
}

// btn样式：圆角、背景色主题色，有阴影
.button-style-main {
  padding: 0px;
  background: $mainColor;
  border-width: 0px;
  outline: 0;
  font-size: 14px;
  color: white;
  height: 48px;
  border-radius: 24px;
  //box-shadow: 0px 4px 6px rgba(115, 109, 216, 0.4);
}

// 圆角、有边框，边框样色主题色、高度默认48、背景色白
.button-style-border {
  padding: 0px;
  background: white;
  border: solid 1px $mainColor;
  outline: 0;
  font-size: 12px;
  color: $mainColor;
  height: 48px;
  border-radius: 24px;
  cursor:pointer;
}

// el-button圆角高度36，宽度96
.elbutton-style {
  width: 96px !important;
  height: 36px !important;
  border: solid 1px $mainColor !important;
  color: $mainColor !important;
  background-color: white !important;
  padding: 0px !important;
  font-size: 12px !important;
}

// 底部有横线的input
.borderLine-input {
  height: 24px;
  border-bottom: solid 1px #eee;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 14px;
  color: $mainTitleColor;
}

@mixin border($position: top, $color: rgb(233, 236, 240)) {
  content: '';
  position: absolute;
  color: $color;
  //transform-origin: 0 0;
  //transform: scaleY(0.5);

  @if $position == top {
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid $color;
  } @else if $position == bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid $color;
  } @else if $position == left {
    bottom: 0;
    top: 0;
    left: 0;
    border-left: 1px solid $color;
  } @else if $position == right {
    bottom: 0;
    top: 0;
    right: 0;
    border-right: 1px solid $color;
  }
}
