@font-face {
    font-family: 'iconfont';
    src: url('/src/assets/fonts/iconfont.woff2?t=1676973158113') format('woff2'),
    url('/src/assets/fonts/iconfont.woff?t=1676973158113') format('woff'),
    url('/src/assets/fonts/iconfont.ttf?t=1676973158113') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-ic_about_s:before {
  content: "\e648";
  color: #d5dfed;
}
.icon-ic_about:before {
  content: "\e648";
  color: #fff;
}
.icon-ic_add:before {
  content: "\e601";
  color: #fff;
}
.icon-ic_andr:before {
  content: "\e669";
  color: #229FFC;
}

.icon-ic_ios:before {
  content: "\e626";
  color: #229FFC;
}
.icon-ic_rn:before {
  content: "\e741";
  color: #229FFC;
}

.icon-ic_company_s:before {
  content: "\e62e";
  color: #9b9b9b;
}
.icon-ic_delete:before {
  content: "\e7ed";
  color: #d5dfed;
}

.icon-ic_download_s:before {
  content: "\e6a5";
  color: #fff;
}
.icon-ic_download:before {
  content: "\e6a5";
  color: #d5dfed;
}
.icon-ic_edit:before {
  content: "\e608";
  color: #d5dfed;
}

.icon-ic_email:before {
  content: "\e66f";
  color: #229FFC;
}

.icon-ic_name:before {
  content: "\e678";
  color: #229FFC;
}
.icon-ic_notice:before {
  content: "\e70a";
  color: #9b9b9b;
}
.icon-ic_overview_s:before {
  content: "\e65d";
  color: #d5dfed;
}
.icon-ic_overview:before {
  content: "\e65d";
  font-size: 14px!important;
  color: #d5dfed;
}
.icon-ic_phone_s:before {
  content: "\e606";
  color: #9b9b9b;
}
.icon-ic_position_s:before {
  content: "\e607";
  color: #9b9b9b;
}
.icon-ic_pswd:before {
  content: "\e600";
  color: #229FFC;
}
.icon-ic_qq:before {
  content: "\e6a0";
  color: #9b9b9b;
}

.icon-ic_upload:before {
  content: "\e717";
  color: #fff;
}
.icon-ic_team:before {
  content: "\e742";
  color: #fff;
}
.icon-ic_setting:before {
  content: "\e6cc";
  color: #fff;
}
